name: ai-dok
services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./client/.env
    ports:
      - "9762:5173"
    depends_on:
      - llm_interaction_service
      - vector_db
    volumes:
      - ./client:/app
      - /app/node_modules
    networks:
      - ai_dok_network

  llm_interaction_service:
    hostname: llm_interaction_service
    build:
      context: ./llm_interaction_service
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "9322:8000"
    volumes:
      - "./llm_interaction_service/app:/app/app"
      - llm_interaction_data:/home/app/.paddleocr
    env_file:
      - ./llm_interaction_service/.env
    networks:
      - ai_dok_network

  vector_db:
    image: chromadb/chroma:latest
    ports:
      - "9422:8000"
    volumes:
      - vector_data:/data
    networks:
      - ai_dok_network

volumes:
  llm_interaction_data:
  vector_data:

networks:
  ai_dok_network:
    driver: bridge